# Q1. 輸入及輸出

In [4]:
com_name = input("請輸入現任公司名稱: ")
name = input("請輸入姓名: ")
age = input("請輸入您的年齡: ")
year = input("請輸入您的本行年資: ")

請輸入現任公司名稱: 玉山
請輸入姓名: 雯
請輸入您的年齡: 24
請輸入您的本行年資: 0.1

In [5]:
print(f'{name}今年{age}歲，目前在{com_name}已經{year}年了')

雯今年24歲，目前在玉山已經0.1年了

# Q2. DATA TYPE

In [6]:
# 2-1.
print(type(com_name))
print(type(name))
print(type(age))
print(type(year))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [8]:
# 2-2.
name = "雯"
age = 24
year = 0.1

print(f'{name:>5s}')
print(f'{age:03d}')
print(f'{year:.2f}')

    雯
024
0.10

In [12]:
# 2-3.
print(type(com_name))
print(type(name))
print(type(age))
print(type(year))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

# Q3. 複利計算

In [2]:
year_interest = 0.015
now_money = 50000
n = 5

In [3]:
compd_interest = now_money*((1+year_interest)**n)

In [4]:
print(round(compd_interest, 2))

53864.2

In [7]:
print(f'{compd_interest:.2f}')

53864.20

# Q4. 換匯

In [2]:
seen = 'US$600000'
dollars = seen[3:]

In [26]:
twd = int(dollars)*29.325
twd

17595000.0

In [17]:
# 延伸
digit = []
for i in range(len(seen)):
    if seen[i].isdigit() == True:
        digit.append(seen[i])

print(int("".join(digit))*29.325)

17595000.0

# Q5. 取出中位數

In [28]:
salary = [60, 90, 70, 55, 120, 88, 75]

import statistics
statistics.median(salary)

75

# Q6. 計算開戶次數

In [12]:
bank_dict = {
    'A': ('繳費', '開戶', '開戶', '開戶', '開戶', '開戶', '開戶', '換匯', '繳費', '繳費'),
    'B': ('繳費', '換匯', '換匯', '換匯', '繳費', '開戶', '繳費', '開戶'),
    'C': ('繳費', '開戶', '存款', '繳費', '繳費', '繳費', '開戶', '繳費', '換匯', '存款', '繳費', '存款')
}

In [13]:
bank_dict

{'A': ('繳費', '開戶', '開戶', '開戶', '開戶', '開戶', '開戶', '換匯', '繳費', '繳費'),
 'B': ('繳費', '換匯', '換匯', '換匯', '繳費', '開戶', '繳費', '開戶'),
 'C': ('繳費', '開戶', '存款', '繳費', '繳費', '繳費', '開戶', '繳費', '換匯', '存款', '繳費', '存款')}

In [20]:
# ans.
total = []
for i in bank_dict:
    counts = bank_dict.get(i)
    total.append(counts.count('開戶'))
print(total)

[6, 2, 2]

# Q7. 取交集

In [30]:
sales1 = ['C594', 'C449', 'C887', 'C126', 'C468', 'C258', 'C221', 'C505', 'C714'] 
sales2 = ['C313', 'C714', 'C286', 'C432', 'C666', 'C356', 'C855', 'C476', 'C126', 'C643', 'C926'] 
sales3 = ['C193', 'C941', 'C126', 'C590', 'C414', 'C065', 'C714']

In [34]:
set(sales1) & set(sales2) & set(sales3)

{'C126', 'C714'}

# Q8. 計算手機撥打次數

In [18]:
phonecall = ['0914514126', '0993623819', '0992850648', '0954365410', '03-6949000', '0985512914', '0935770139', '0912852813', '0944987869', '0980685204', '03-5542615', '02-6338673', '02-1076622', '02-6832691', '0951859556', '03-3574856', '02-6531810', '0911563100', '03-3489073', '0902918795', '02-3517886', '03-1668413', '0902197860', '0924682908', '02-6027277', '02-1363389', '03-0842909', '02-0843773', '0971153647', '0919904753', '03-2139859', '0961695665', '02-7073674', '0954628414', '02-4627660', '03-1410712', '03-3826513', '02-2998016', '02-7993017', '0911607501', '03-7912519', '0914875480', '0916711466', '0919436315', '02-7777202', '03-9676001', '0942708276', '02-2793450', '0991317284', '0978271573', '03-8860927', '02-7575368', '02-0799818']

In [22]:
# ans.
matching = [s for s in phonecall if "09" in s[0:2]]
len(matching)

25

In [ ]:
# mine

In [32]:
# 延伸
call_num = 0
for i in range(len(phonecall)):
    first_two = phonecall[i][0:2] == '09'
    
    if first_two == True:
        call_num += 1

print(call_num)

25

# Q9. 判斷質數

In [33]:
def is_prime(num):
    if num == 2:
        return True
    
    for i in range(2, num):
        if num % i == 0:
            return False
        else:
            return True

In [38]:
num = int(input())
print(is_prime(num))

2
True

In [44]:
# 延伸
def is_prime(num):
    for i in range(2, int(num ** 0.5)+1):
        if num % i == 0:
            return False
    return True

In [48]:
num = int(input())
print(is_prime(num))

17
True

# Q10. 倍數顯示文字

In [97]:
for i in range(1, 101):
    if i % 15 == 0:
        print("Gotcha!")
    elif i % 3 == 0:
        print("Bingo!")
    elif i % 5 == 0:
        print("Awesome!")
    else:
        print(i)

1
2
Bingo!
4
Awesome!
Bingo!
7
8
Bingo!
Awesome!
11
Bingo!
13
14
Gotcha!
16
17
Bingo!
19
Awesome!
Bingo!
22
23
Bingo!
Awesome!
26
Bingo!
28
29
Gotcha!
31
32
Bingo!
34
Awesome!
Bingo!
37
38
Bingo!
Awesome!
41
Bingo!
43
44
Gotcha!
46
47
Bingo!
49
Awesome!
Bingo!
52
53
Bingo!
Awesome!
56
Bingo!
58
59
Gotcha!
61
62
Bingo!
64
Awesome!
Bingo!
67
68
Bingo!
Awesome!
71
Bingo!
73
74
Gotcha!
76
77
Bingo!
79
Awesome!
Bingo!
82
83
Bingo!
Awesome!
86
Bingo!
88
89
Gotcha!
91
92
Bingo!
94
Awesome!
Bingo!
97
98
Bingo!
Awesome!

# Q11. 設計會員輸入函式

In [24]:
def check(name, phone):
    if isinstance(name, str) == False:
        print("名稱非字串")
        return False
    
    if phone[0:2] != '09':
        print("非手機號碼")
        return False
        
    if len(phone) != 10:
        print("手機非10碼")
        return False
    
    return True

In [25]:
def create(name, phone):
    member_dict = {'name': name, 'phone': phone}
    return member_dict

In [29]:
import random
import datetime

all_member_dict = {}

while True:
    name1 = input("輸入名稱: ")
    phone1 = input("輸入手機: ")
    
    if check(name1, phone1):
        member_dict = create(name1, phone1)
        
        d = datetime.datetime.today().strftime("%Y%m%d%H%M%S")
        n = "%05d" % random.randint(0, 99999)
        #n = random.randint(0, 99999)
        mem_id = str(d) + '_' + str(n)
        
        all_member_dict[mem_id] = member_dict
    
    con = input("繼續輸入?(y/n)")
    if con != 'y':
        break        
        
print(all_member_dict)

輸入名稱: 雯
輸入手機: 0938721101
繼續輸入?(y/n)n
{'20220824092505_62058': {'name': '雯', 'phone': '0938721101'}}

# Q12. 金字塔

In [9]:
# isinstance: check if the number is an integer

def gold(n):
    if isinstance(n, int) and n > 0:
        for i in range(1, n+1):
            howmany = 2*i-1
            print(" "*(n-i) + "*"*howmany, end = "\n")
    else:
        raise Exception("輸入錯誤")

In [10]:
n = int(input("Input: n = "))
gold(n)

Input: n = 6
     *
    ***
   *****
  *******
 *********
***********